@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  background-color: #060f2b;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #365ac4;
  border-radius: 15px;
}

::selection {
  background-color: #2b007a;
  color: #fbfbfb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
